parameters:
	ignoreErrors:
		- '#^Method Contributte\\DI\\Extension\\ResourceExtension::findClasses\(\) should return array<string> but returns array<int, int|string>.$#'
		- '#^Parameter \#1 \$subject of static method Nette\\Utils\\Strings\:\:match\(\) expects string, string\|false given\.$#'
