includes:
	- vendor/phpstan/phpstan-deprecation-rules/rules.neon
	- vendor/phpstan/phpstan-nette/extension.neon
	- vendor/phpstan/phpstan-nette/rules.neon
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	level: 9

	scanDirectories:
		- src

	fileExtensions:
		- php

	paths:
		- src

	ignoreErrors:
		- '/Call to deprecated method startsWith\(\) of class Nette\\Utils\\Strings:\nuse str_starts_with\(\)/' # TODO: remove after dropping PHP 7 support
